@include tablet-view {
  .product-card {
    max-inline-size: 37.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__img img {
      border-radius: 20px 0 0 20px;
    }

    &__content {
      padding-left: 5%;
    }
  }
}
